<div class="parent-container">
    <div class="header">
        <img src="/assets/engen-fullcolor-horizontal.png" alt="enGen Logo">
        <p>LLM-Based Agent-Centric Function
            Invocation for Helpdesk app</p>
    </div>
    <div class="chat-container" #chatContainer>

        <div *ngFor="let message of messages">
            <div *ngIf="message.isUser" class="user-message">
                <span class="icon-engen"></span>
                <span class="icon-engen-user"><b>You</b><br></span>
                <span class="user-message-content">{{ message.content }}</span>
            </div>
            <div *ngIf="!message.isUser" class="bot-message">
                <span class="icon-gemini"></span>
                <span class="icon-engen-system"><b>ChatGPT</b><br></span>
                <div class="bot-message-content" [innerHTML]="message.content | customMarkup"
                    style="white-space: pre-wrap;"></div>
                <br>
                <span class="bot-message-content" [innerHTML]="message.content2 | customMarkup"></span>
            </div>


        </div>
    </div>

    <div class="chat-input">
        <textarea class="chat-textarea" rows="3" [(ngModel)]="newMessage"
            placeholder="enter your query here. example I would like to make an appointment for sore throat. could you help me with making an appointment?"
            (keyup.enter)="sendMessage(newMessage)"></textarea>
        <button class="send-button" (click)="sendMessage(newMessage)">Send</button>
    </div>



    <div class="footer">
        Copyright © engen
    </div>




</div>